<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list>
		<ion-item *ngFor="let item of items">
			Hey there
		</ion-item>
	</ion-list>

</ion-content>
