page-home {

	$items: 500;

	@for $i from 0 to $items {

		ion-item:nth-child(#{$i}){
			$delay: $i/20;
			animation: 1s #{$delay}s linear sway infinite;
		}

	}

}

@keyframes sway {

	0% {
		margin-left: 20px;
	}

	50% {
		margin-left: -20px;
	}

	100% {
		margin-left: initial;
	}

}